header{
border-bottom: solid 3px rgb(51, 51, 51);
background-color: rgb(10, 10, 10);
margin: -0.5rem;
}
body{
    background-color: rgb(20, 20, 20);
}
.image{
    border-radius: 15px;
    transition: all .3s ease-in-out;
    margin: 5px;
    margin-top: 10px;
}
.image:hover{
    transform: scale(1.2);
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    border-top: solid 3px rgb(51, 51, 51);
    background-color: rgb(10, 10, 10);
    margin: -0.5rem;
    margin-bottom: -1rem;
    }
#foot{
    color: purple;
    font-size: 25px;
}
#foot:hover{
    color: rgb(206, 71, 154);
}
#cargo{
margin-left: 2rem;
}
.buys{
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}
button{
    background-color: rgb(10, 10, 10);
    border: solid 2px rgb(51, 51, 51);
    color: whitesmoke;
    border-radius: 7px;
    width: 5cm;
}
button:hover{
    background-color: rgb(20, 20, 20);
    border: solid 2px rgb(60, 60, 60);
    color: white;
}
.bas{
    padding-top: 0%;
    padding-bottom: 0%;
}